{
  "env": "development",
  "port": "3000",
  "db": {
    "host": "localhost",
    "name": "cambium",
    "username": "admin",
    "password": "admin",
    "port": "27017"
  },
  "gitHub": {
    "apiBaseUrl": "https://api.github.com",
    "gitHubAuthToken": "gph_xx...."
  }
}
